body {
    text-align: center;
    background-color: black;

}

img {
    margin-top: 100px;
    width:17%;
    padding: 15px;
   
}

.clock {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
    padding: 15px;

}


.metin1 {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
}

.metin2 {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
    margin-right: 40px;
    margin-left: 40px;
    padding: 15px;
    
}